{
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module", //node import export require 쓰니까
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "plugins": [
    "import",
    "react-hooks"
  ],
  "rules": {
    "no-underscore-dangle": "off"
  }
}